/*清除浮动*/
html,
body {
  margin: 0;
  padding: 0;
}
.clearfix::after,
.clearfix::before {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
.clearfix {
  *zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
